%section.container
  - @newsletters.each do |newsletter|
    .list-group
      .row
        .col-md-1{:class => "text-center"}
          %br
          %a= "link_to vote_newsletter_path(newsletter, vote: true), method: 'post'"
            %span{:class => "glyphicon glyphicon-triangle-top text-center"}
            %p 50 votes
        .col-md-10
          %h4= newsletter.name
          %h6= newsletter.website_url
          .content
            = newsletter.description
